.card{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    height: 300px;
    width: 480px;
    border-radius: 4px;
    background-color: #323238;
    font-size: large;
    font-weight: bolder
}

.card header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    line-height: 1.6;
    & h1{
        font-size: 40px;
    }
}