.header {
    background-color: #202024;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    padding: 20px 0;
}

.header h2 {
    color: #ffffff;
    font-size: 40px;
}

.header img {
    height: 36px;
}