.container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-top: -80px;
}

.card, .cardGreen {
    background-color: #323238;
    border-radius: 6px;
    padding: 32px;
}

.card header, .cardGreen header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #c4c4cc;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 16px;
} 

.card strong, .cardGreen strong {
    font-size: 32px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.cardGreen {
    background-color: #015f43;
}