textarea {
    width: 100%;
    background-color: #121214;
    border: none;
    height: 80px;
    padding: 16px;
    border-radius: 8px;
    line-height: 1.4;
    color: #e1e1e6;
    resize: none;
}

textarea:focus-within {
    outline: 2px solid #00875f;
}