.post {
    background-color: #202024;
    border-radius: 8px;
    padding: 40px;
}

.post+.post {
    margin-top: 32px;
}

.post header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

.post header .author {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.post header .author .author-info {
    display: flex;
    flex-direction: column;
}

.post header .author .author-info strong {
    color: #e1e1e6;
    line-height: 1.6;
}

.post header .author .author-info span,
.post header time {
    color: #8d8d99;
    line-height: 1.6;
    font-size: 14px;
}

.content {
    line-height: 1.6;
    margin-top: 24px;
    color: #c4c4cc;

}

.form {
    width: 100%;
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid #323238;
}

.form strong {
    line-height: 1.6;
    color: #e1e1e6;
    font-size: 16px;
}

.form textarea {
    width: 100%;
    background-color: #121214;
    border: none;
    height: 80px;
    padding: 16px;
    border-radius: 8px;
    line-height: 1.4;
    margin-top: 24px;
    color: #e1e1e6;
    resize: none;
}

.form textarea:focus-within {
    outline: 2px solid #00875f;
}

.form footer {
    visibility: hidden;
    max-height: 0;
}

.form:focus-within footer {
    visibility: visible;
    max-height: none;
}

