.summaryComponent{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 24px;
    gap: 32px;
    margin-top: -80px;
}

.summaryComponent .cardArea{
    display: flex;
    align-items: center;
    justify-content: space-between;
}