*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: rgba(111, 114, 113, 0.103);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.search_container{
    margin: auto;
    margin-top: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50vw;
    height: 18rem;
    display: flex;
}


.inputs{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 9rem;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    font-size: larger;

}

.inputs .search_btn{
    width: 10rem;
    height: 2rem;
    text-align: center;
    border: none;
    background-color: rgba(80, 73, 73, 0.308);
    color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.014);

}

.inputs #searchBar{
    width: 90%;   
    height: 2rem;
    border: 1px solid rgba(80, 73, 73, 0.308);
    outline: none;
    padding: 1rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.034);

}

.users {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px; 
    padding: 20px;
}

#lista_user {
    list-style: none; 
    padding: 0;
    margin: 0; 
    display: contents; 
}

.user{
    background-color: #fcfcfca8;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
}

.user img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}