.header-bar{
    display: flex;
    justify-content: space-around;
    padding: 3rem; 
    background-color: #57a9bd56;
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.10);

    & ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        gap: 3rem;
        color: #fff;
        font-size: 1.1rem;
        cursor: pointer;
    }

    & .logo{
        font-size: 3rem;
        color: #fff;
    }

}